.idea {
	height: fit-content;
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;

	// $maxWidth: 1700;
	// @mixin adaptive-font($pcSize, $mobSize){
	// $addSize: $pcSize - $mobSize;
	// $addMobSize: $addSize + $addSize * 0.7;
	// @media (max-width: 900px) {
	// font-size: calc(#{$addSize + px} + #{$addMobSize} * ((100vw 320px) / #{$maxWidth}));
	// }
	// @media (min-width: 900px) {
	// font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw) / #{$maxWidth}));
	// }
// }
	.idea__text--container{
		flex: 1 1 100%;
		padding: 30px 0 30px;
		h1{
			margin-bottom: 5px;
		}
	}
	.idea__images--container{
		width: 100%;
		height: fit-content;
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		.box-img{
			flex: 1 1 100%;
			height: 600px;
			background-color: #b8b6b7;
			overflow-y: hidden;
			.image-idea{
				width: 100%;
				height: 60%;
				object-fit: cover;
				display: block;
			}
			.box-img__box{
				padding: 40px 25px;
				height: 40%;
				display: flex;
				flex-direction: column;
				h3{
					margin-bottom: 5px;
					// @include adaptive-font(22, 8)
				}
				p{
					// @include adaptive-font(16, 10)
				}
				a{
					// justify-content: baseline;
					// align-self: baseline;
					margin: auto 0 0;
					display: flex;
					width: 200px;
				}
			}
		}
		.box--img1{
			// background-color: orange;
			background-color: rgb(248, 194, 93);
			.text__box--h1{
				height: 60%;
				font-size: 1.5rem;
				padding: 40px;
				color: rgb(5,87,165);
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.text__box--p{
			background-color: rgb(239, 186, 86);
				height: 40%;
				padding: 40px 25px;
				h3{
					margin-bottom: 5px;
					// @include adaptive-font(22, 8)
				}
				p{
					// @include adaptive-font(16, 10)
				}
			}
		}
	}
	@media (min-width: 450px) {
		.idea__images--container{
			.box--img1{
				.text__box--h1{
					font-size: 2rem;
				}
			}
		}
	}
	@media (min-width: 750px) {
		.idea__images--container{
			gap: 12px;
			.box-img{
				flex: 1 1 48%;
				width: 48%;
				height: 700px;
			}
		}
	}
	@media (min-width:1200px) {
		.idea__images--container{
			gap: 20px;
			.box-img{
				flex: 1 1 31%;
				width: 33.33%;
				height: 700px;
			}
		}
	}
}