.nav{
	width: 100vw;
	height: fit-content;
	background-color: #202020;
	position: fixed;
	top: 0;
	z-index: 100;
	.nav-container{
		max-width: 1700px;
		margin: 0 auto;	
		padding: 0 30px;
		ul{
			display: flex;
			align-items: center;
			list-style-type: none;
			justify-content: space-around;
			font-family: 'Montserrat', sans-serif;
			font-size: 1.5em;
			color: white;
			.logo{
				a{
					display: flex;
					align-items: center;
					justify-content: center;
					svg{
						margin: 0 10px;
					}
				}
			}
			li{ 
				a{
					height: 40px;
					color: white;
					transition: all .2s;
					font-weight: 300;
					position: relative;
						&:hover{
							color: rgb(146, 144, 144);
						}
				}
			}
		}
		.ul-second{
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px 0;
		}
			svg{
				color: white;
				display: flex;
				align-items: center;
				transition: all .2s;
				font-weight: 300;
					&:hover{
						opacity: .5;
				}
			}
			svg:not(:first-child){
				display: none;
			}
		@media (max-width:900px) {
			.ul-first{
				justify-content: space-between;
				.logo{
					display: flex;
					svg:first-child{
						display: inline-block;
					}
				}
			}
			.ul-first li:not(:first-child){
				display: none;
			}
			svg,
			svg:not(:first-child){
				display: inline-block;
			}	
		}
		
		@media (min-width: 900px) {
			.ul-second{
				display: none;
			}
		}
	}
}
